p {
    color: blue;
}

p:hover {
    color: red;
}

.heading {
    color: red;
}

#head-1 {
    color: green;
}

.division > h5 {
    color: yellow;
}

.box {
    width: 70%;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-1{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(175, 0, 0);
}

.box-2{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 3, 175);
}


.container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .container {
        background-color: yellow;
        flex-direction: row;
    }
  }
  
  /* Desktop styles */
  @media screen and (min-width: 1024px) {
    .container {
        background-color: green;
    }
  }